body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.headerPrincipal {
	background-color: #FFF;
	padding: 20px 0;
}

.headerPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.contenidoPrincipal {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.containerFormacionPresentacion {
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.foto{
	height: 20%;
	width: 20%;
	border-radius: 50%;
	margin: 20px;
}
 .sobremititulo{
	font-weight: bold;
	font-style: italic;
	font-size: 2rem;
	padding: 2rem 2rem 2rem;
}
 .sobremiTexto{
	font-style: italic;
	font-size: 1rem;
	padding: 0rem 2rem 2rem;
}



@media(min-width: 769px) {

	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}

	.headerPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.headerPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.headerPrincipal-titulo {
		margin: 0;
	}

	.headerPrincipal-nav {
		width: auto;
	}

	.headerPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

	.rodapePrincipal-contatoForm {
		margin-top: 0;
		text-align: left;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 0;
	}

}

@media(min-width: 1000px) {
	.contenidoPrincipal-cursos-link {
		margin: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.videoSobre-sobre {
		margin-left: 1.5em;
	}

}


